*{
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

html{
    font-size: 62.5%;
}

img{
    max-width: 100%;
    display: block;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

body {
    background-color: $neutral-100;
}

